/** Header **/
#header-nav{
    background-color: darkkhaki;
    border-radius: 0;
    border: 0;
}

,navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    color: #951c49;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #999;
    margin-top: 5px;
   
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}


#nav-list a {
    color: #951c49;
    text-align: center;
}
#nav-list a:hover {
    background: #e7e7e7;
}
#nav-list a span {
    font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
    clear: both;
}

/***** SideMenu *****/
#sideMenu {
    color: blueviolet;
    font-size: 1.5em;
    height: auto;
    width: auto;
   
}

/* Media Query */
/* Large Devises */
@media (min-width: 1200px){
    .textImage {
        background-color: bisque;
        padding: 25px 0px 25px 0px;
    }   
    #sideMenu {
        background-color: bisque;
        height: 709px;
    }
}

/* Medium Devises */
@media (min-width: 992px) and (max-width: 1199px) {
    .textImage {
        padding: 90px 0px 90px 0px;
        background-color: bisque;
    }   
     #sideMenu {
        background-color: bisque;
        height: 583px;
    }
}

/* Small Devises */
@media (min-width: 768px) and (max-width: 991px) {
     #sideMenu {
         background-color: bisque;
         height: 447px;
    }
}

/* ExSmall Devises */
@media (max-width: 767px) {
    
}