/** Header **/
#header-nav{
    background-color: darkkhaki;
    border-radius: 0;
    border: 0;
}

,navbar-brand {
    padding-top: 25px;
}

.navbar-brand h1 {
    color: #951c49;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #999;
    margin-top: 5px;
   
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}


#nav-list a {
    color: #951c49;
    text-align: center;
}
#nav-list a:hover {
    background: #e7e7e7;
}
#nav-list a span {
    font-size: 1.8em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
    clear: both;
}
#collapsable-nav {
    background-color: bisque;
}

#ideaHeading {
    font-size: 6em;
    position: relative;
    -webkit-animation-name: example; 
    -webkit-animation-duration: 10s;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
@-webkit-keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:1200px; top:0px;}
    50%  {color:blue; left:1200px; bottom:0px;}
    75%  {color:green; left:0px; top:00px;}
    100% {color:red; left:0px; top:0px;}
}

/***** SideMenu *****/
#sideMenu {
    color: blueviolet;
    font-size: 1.5em;
    height: auto;
    width: auto;   
}
.IMAGE {
    padding: 20px;
}
#look {
    font-size: 1em;
    color: brown;
    text-align: center;
    padding-top: 35px;
    
}
.textScroll {
    font-size: 2em;
    color: brown;
}

/* Footer */
.panel-footer {
    color: white;
    margin-top: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    background-color: #222;
    border-top: 0;
}
.panel-footer div.row {
    margin-bottom: 35px;
}
#moto, #address {
    line-height: 2;
}
#moto > span, #address > span, #contact > span {
    font-size: 1.3em;
}


/* Media Query */
/* Large Devises */
@media (min-width: 1200px){
    .textImage {
        background-color: bisque;
        padding: 25px 0px 25px 0px;
    }   
    #sideMenu {
        background-color: bisque;
        height: 709px;
    }
}

/* Medium Devises */
@media (min-width: 992px) and (max-width: 1199px) {
    .textImage {
        padding: 90px 0px 90px 0px;
        background-color: bisque;
    }   
     #sideMenu {
        background-color: bisque;
        height: 583px;
    }
    
    #ideaHeading {
    font-size: 6em;
    
}
@-webkit-keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:900px; top:0px;}
    50%  {color:blue; left:900px; top:0px;}
    75%  {color:green; left:0px; top:00px;}
    100% {color:red; left:0px; top:0px;}
}
}

/* Small Devises */
@media (min-width: 768px) and (max-width: 991px) {
     #sideMenu {
         background-color: bisque;
         height: 447px;
    }
    #ideaHeading {
    font-size: 6em;
    
}
@-webkit-keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:760px; top:0px;}
    50%  {color:blue; left:760px; top:0px;}
    75%  {color:green; left:0px; top:00px;}
    100% {color:red; left:0px; top:0px;}
}
}

/* ExSmall Devises */
@media (max-width: 767px) {
    #ideaHeading {
    font-size: 6em;
    animation-duration: 2s;
}
@-webkit-keyframes example {
    0%   {color:red; left:0px; top:0px;}
    25%  {color:yellow; left:300px; top:0px;}
    50%  {color:blue; left:300px; top:0px;}
    75%  {color:green; left:0px; top:00px;}
    100% {color:red; left:0px; top:0px;}
}
}